
h1{
  color:red;  
}

.header{
background-color: blueviolet;
display: flex;
justify-content: space-between;
}

h2,p{
    color: chocolate;
    text-align: center;
}

.grid{
    display: flex;
 flex-wrap: wrap; 
 justify-content: space-evenly;  
}

.footer{
display: flex;
justify-content: flex-end;


}